.p-detail-post{
    padding: 20px;
}

.detail-title{
    font-size: 24px;
    font-weight: 200px;
    color: #673ab7;
    text-transform: capitalize;
}

.detail-body{
    font-size: 16px;
    color: #607d8b;
}